:root {
  --orange: #ffb516;
  --transition: 0.3s;
  --borderRadius: 2rem;
  --maxWidth: 80rem;
  --padding: 6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body::-webkit-scrollbar{
  display: none;
}


body {
  background-color: #101010;
  color: white;
}

a {
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

header {
  min-height: 100vh;
  width: 100%;
  background-image: url(./img/francois-olwage-dFFjVeYqMX8-unsplash.jpg);
  background-position: 50% 0%;
  background-size:cover;
  display: flex;
  flex-direction: column;
}

section {
  padding: var(--padding);
  max-width: var(--maxWidth);
  width: 100%;
  margin: 0 auto;
}

.logo {
  font-size: 2rem;
  letter-spacing: 1px;
  cursor: pointer;
}

/* nav bar starts here */


.nav {
  display: flex;
  background-color: #222121b9;

  align-items:center;
  justify-content: space-between;
  padding: 0 4rem;
  padding-top: 3rem;
  /* max-width: var(--maxWidth); */
  width: 100%;
  height: fit-content;
  position: fixed;
  top: 0px;
  line-height: 65px;
  text-align: center;
  z-index: 1000;
  /* box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,inset rgba(172, 138, 16, 0.8) -6px -2px 16px -5px; */
  /* background-color: antiquewhite; */
}
nav ul {
  list-style:none;
  display: flex;
  column-gap: 3rem;
 
}

nav a {
 
  color: white;
  transition: color var(--transition);
}


/* Navbar section */



.nav div.logo {
  float: left;
  width: auto;
  height: 65px;
  padding-left: 3rem;
}

.nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
}

nav div a .logo:hover {
  color: var(--orange);
}

.nav div.main_list {
  height: auto;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style:none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: auto;
  padding: 0;
  padding-right: 3rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color:var(--orange);
  line-height: 65px;
  font-size: 1.4rem;
  }

.nav div.main_list ul li a:hover {
  color: #ffff;
  border: 1px solid #ffb516;
  padding: 7px;
  border-radius: 5px;
}

.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #3d2e74 0%,
    #3f0c77 29%,
    #ffb510 67%,
    #ffb516 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 70px;
}

@keyframes textclip {
  to {
    background-position: -200% center;
  }
}

/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
}

@media screen and (max-width: 850px) {
  .navTrigger {
    display: block;
    /* margin-top: 1rem; */
    /* margin-right:3rem; */

  }
  .nav{
    display:block;
    text-align: center;  
    background-color: #222121b9;
    height: fit-content;
    justify-items: center;
}
.logo{
  display: flex;
  justify-content: start;
  /* margin-bottom: 2rem; */
} 
  .nav div.logo {
    margin-left: 15px;
  }
  .nav div.main_list {
    width: 100%;
    height: 0px;
    overflow: hidden;
  }
  .nav div.show_list {
    height: fit-content;
    display:none;
  }
  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 23rem;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #201d1d9d;
    /*same background color of navbar*/
    background-position: center top;
  }
  .nav div.main_list ul li {
    width: 100%;
    text-align: center;
  }
  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: rem;
    padding: 20px;
  }
  .nav div.media_button {
    display: block;
  }
  .service div.box{
    display: grid;
  }
  .content{
    align-items: center;
  }
  .header{
    align-items: center;
    text-align: center;
  }
  .animate-charcter{
    font-size:50px;
  }

  

 main{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width:auto;
  height: auto;
 }
 #about  img{
  border-radius: 10px;
  /* flex-direction: row; */
  width: 100%;
  height: 100%;
  margin-bottom: 3rem;
 
 }
 .about-text p {
  line-height: 1.5rem;
 }
 .social a:hover{
  background-color: var(--orange);
 }
 
}

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;  
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 5px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

.myH2 {
  text-align: center;
  font-size: 4rem;
}
.myP {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
}
@media all and (max-width: 700px) {
  .myP {
    padding: 2%;
  }
}

h1 {
  font-size: 4rem;
  margin: 1.25rem 0;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

h4 {
  color: var(--orange);
  font-size: 1.25rem;
  letter-spacing: 0.125rem;
}

span {
  color: var(--orange);
}

nav ul li a:hover {
  color: var(--orange);
}

.btn {
  border: 2px solid var(--orange);
  padding: 0.75rem 1.5rem;
  border-radius: var(--borderRadius);
  transition: all var(--transition);
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.btn a {
  color: white;
}

.btn:hover {
  background-color: var(--orange);
  transform: scale(1.05);
}

.content {
  background-color: transparent;
  margin: auto;
  height: 100%;
}
.content div:nth-child(4){
    color: var(--white);
    font-size: 1.25rem;
    letter-spacing: 0.125rem;
    padding: .5em;
}

.newsletter form {
  width: 100%;
  max-width: 380px;
  position: relative;
}

.newsletter form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 1.125rem 1.125rem;
  border: 0.125rem solid var(--orange);
  border-radius: var(--borderRadius);
  outline: none;
}

.newsletter form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 0.875rem 1rem;
  border-radius: var(--borderRadius);
  background-color: var(--orange);
  top: 6px;
  right: 6px;
}

main {
  display: flex;
  /* align-items:start; */
  justify-content: space-between;
  column-gap: 2rem;
}

main img {
  /* flex-direction: row; */
  width: 50%;
  height: 100%;
  margin-bottom: 3rem;
}

.about-text h2 {
  flex-direction: column;
  font-size: 4rem;
  margin-bottom: 1.25rem;
}

.about-text h5 {
  flex-direction: column;
  letter-spacing: 0.125rem;
  font-size: 1.375rem;
  margin-bottom: 1.5rem;
}

.about-text p {
  flex-direction: column;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 3rem;
}
.about-text .btn a{
  color: fff;
}

/* Services */
.service {
  margin-top: -7rem;
}

.service > h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2.5rem;
}

.box {
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* display: grid; */
  gap: 2rem;
  /* column-gap: 2rem; */
}
.card:hover{
  box-shadow: rgba(232, 187, 23, 0.19) 0px 8px 24px, rgba(229, 135, 12, 0.19) 0px 16px 56px, rgba(225, 143, 12, 0.19) 0px 24px 80px;
transition: 0.5s;
}
.box .netflix{
  height: 100%;
  width: 100%;
  position: absolute;
  top: -100% ; left: 0;
}
.box .card:active .netflix{
  transform: translateY(100%);
  transition: 1s;
  
}


/* .netflix:hover{
  background: url("./img/netflix-mockup.png");
  
} */

.card {
  transition: 0.5s;
  width: 100%;
  height: 25rem;
  padding: 1.5rem;
  background-color: #232222;
  border-radius: var(--borderRadius);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: safe;
  overflow: scroll;
  align-items: center;
}

.card::-webkit-scrollbar{
  display: none;
}

.card i {
  display: block;
  font-size: 2.5rem;
  margin: 2rem 0 2rem;
  color: var(--orange);
}

.card h5 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}


.pra p {
  flex-direction: column;
  z-index: 5;
  font-size: 1rem;
  line-height: 150%;
  margin-bottom: 1.75rem;
}

.button {
  font-size: 1rem;
  text-transform: capitalize;
  color: white;
  background-color: var(--orange);
  text-decoration: none;
  border: 0.125rem solid transparent;
  font-weight: bold;
  padding: 0.5rem 1.375rem;
  border-radius: var(--borderRadius);
  transition: var(--transition);
}

.button:hover {
  background-color: transparent;
  border: 0.125rem solid var(--orange);
  cursor: pointer;
}

/* Contact */
.contact {
  /* height: 20rem; */
  background-color: #191919;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.contact > p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact > a {
  background-color: #191919;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact > button{
  margin-bottom: 1rem;
}

/* Footer */
footer {
  background-color: #191919;
  text-align: center;
  padding-top: 4rem ;
  padding-bottom: 3rem;
  border-top: 1px solid var(--orange);
}

footer p {
  margin-bottom: 1rem;
}

footer p:nth-child(2) {
  margin-top: 2rem;
}
.social{
  display: flex;
  justify-content: center;
  align-items: center;
}
.social a{
  margin-right: 0.4rem;
  background-color: transparent;
}
